.create-workshops {
    border: 0;
}
.create-workshops .heading {
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 25px;
    color: #1C1C1C;
}
.input {
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
    border-radius: 5px;
    padding: 12px 8px;
    font-weight: 500;
}
form {
    padding: 20px 230px;
    border-radius: 20px;
    box-shadow: 0 8px 10px 6px rgba(131,134,163,.12);
    font-family: 'Montserrat', sans-serif;
}
form .input-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.input-field, .form-desc {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.input-field label, .form-desc label {
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: 500;
}
.form-file {
    border: dashed 1px #ccc;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}
.form-file-border {
    background-color: #EEEFF4;
    padding: 50px 0px;
    margin: 8px;
    border-radius: 5px;
    text-align: center;
}  
.form-file-border div  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-file-border div span {
    color: #300707;
    font-size: 16px;
}
.form-file-border div span:last-child {
    font-size: 16px;
    padding: 10px 0px 25px 0px;
}
.form-file div img {
    width: 60px;
    height: 54px;
    margin-bottom: 25px;
}
.form-file label {
    cursor: pointer;
    background-color: #0063B2;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
}
.form-by-day {
    margin: 20px 0px;
}
.form-by-day .form-day {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.form-by-day .form-day h1 {
    font-size: 24px;
}
.form-by-day .form-day button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(255, 97, 119, .10);
    padding: 10px 15px;
    margin: 0px 5px;
    color: #1C1C1C;
    font-weight: 500;
}
.form-day button span {
    font-size: 20px;
    color: #FF6177;
    padding-right: 6px;
}
.form-by-day .form-by-day-inputs {
    display: grid;
    grid-template-columns:  4fr 2fr 2fr;
    grid-gap: 1rem;
}
.form-btns {
    display: flex;
   
}
.form-btns button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 15px 0px;
    background: #0063B2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
}
.form-btns button:last-child {
    background: rgba(0, 99, 178, .10);
    margin-left: 15px;
    color: black;
}