dashboard-items {
    margin: 0px 40px;
    padding: 25px 0px;
}
.past-workshop {
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 39px 40px 0;
}
.past-workshop-heading{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C1C1C;

}
.past-workshop-dropdown{
    display: flex;
    justify-content: start;
    gap:20px;
}
.down-list{
    outline: none;
    border: none;
}

.remove-merging{
    border-right: none !important;
    box-shadow: none;
    border:none;
}
.remove-merging:focus{
    border: none !important;
    box-shadow: none;

}
.date-picker{
    border-radius: 8px !important;
    border: 1px solid #CCCCCC !important;
    background-color: white !important;
    display: inline-flex;
    overflow: hidden;

}
.date-picker:focus{

    border: 1px solid #CCCCCC !important;
}
#exampleFormControlSelect1{
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    width: 357px;
}
.student-attendance-graph{
}
.student-attendance-graph-image{
    width: 100%;
    padding: 0px 15px;
}
.past-workshop-dropdown1{
   width: 187px;
    height: 45px;
}
.recently-created-workshop{
    height: 45px;
    width:100%;
    margin-top: 46px;
    padding: 0px 30px;
    display: inline-flex;
    justify-content: space-between;
}
.recently-created-workshop-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #1C1C1C;
}
.recently-created-workshop-button button{
  border-radius: 5px;
    border: 1px solid #1C1C1C;
    width: 102px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.recently-created-workshop-arrows{
    display:flex;
    justify-content: flex-start;
    gap: 20px;
}
.left-arrow{
    width: 28px;
    height: 28px;

}
.placement-arrow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.combine-arrow-button{
    display:flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}
.right-arrow{
    width: 28px;
    height: 28px;

}
.addon{
    border:none;
    background-color: transparent;
}